<div class="profile" >
    <div class="container">
      <ng-container *ngIf="loader">
        <app-loader></app-loader>
        
        </ng-container>

        <ng-container *ngIf="!loader">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">

              <img class="profile_img" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.newdesignfile.com%2Fpostpic%2F2009%2F11%2Fuser-icon_291700.jpg&f=1&nofb=1&ipt=467f80ffefc6e42fa981353a040a31682d6b09a7f541916e99f8dd52adccc840&ipo=imagesdent" >
              <h1>{{companyInfo.name}}</h1>
            </div>
            <div class="card-body">
              <p class="mb-0"><strong class="pr-1">ДДС Номер: {{companyInfo.vat}} </strong></p>
              <p class="mb-0"><strong class="pr-1">Идент. Номер: {{companyInfo.id}}</strong></p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h2 >Основна информация</h2>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="30%" >Имейл</th>
                  <td width="2%">:</td>
                  <td>{{companyInfo.email}}</td>
                </tr>
                <tr>
                  <th width="30%">Телефон:</th>
                  <td width="2%">:</td>
                  <td>{{companyInfo.phone}}</td>
                </tr>
                <tr>
                  <th width="30%">Адрес за доставка:</th>
                  <td width="2%">:</td>
                  <td>{{companyInfo.address}}</td>

              </table>
 
    </div>
  </div>