    
    <!-- BEGIN branding -->
    <header id="branding" role="banner">
                        <a  id="logo" href="https://www.aquatec-bg.com/" title="&quot;Акватек&quot; – цялостно решение за басейни">
 <img src="../../../assets/stationaryJPG/LOGOAQUATECSINCE1994-2.jpg" alt="&quot;Акватек&quot; – цялостно решение за басейни" id="desktop-logo">
     </a>

     <!-- BEGIN nav-menu -->
<nav id="nav-menu" role="navigation">

                            <ul id="menu-corporate-navigation">
                            <li><a href="https://www.aquatec-bg.com/zavrsheni-proekti/">Промоции</a></li>
<li><a href="https://www.aquatec-bg.com/za-nas/">За нас</a></li>

<li><a href="https://www.aquatec-bg.com/kontakti/">Контакти</a></li>

<li><a href="https://www.aquatec-bg.com/shop">Магазин</a></li>
</ul>

</nav>
<img src="../../../assets/stationaryJPG/green-call-icon-32x32.png">
<p><strong>Имате въпрос?</strong>
    <br>+359 885 111 503</p>
    </header>

