    
    <!-- BEGIN branding -->
    <header id="branding" role="banner">
                        <a  id="logo" href="/" title="&quot;Акватек&quot; – цялостно решение за басейни">
 <img src="../../../assets/stationaryJPG/LOGOAQUATECSINCE1994-2.jpg" alt="&quot;Акватек&quot; – цялостно решение за басейни" id="desktop-logo">
     </a>

     <!-- BEGIN nav-menu -->
<nav id="nav-menu" role="navigation">

                            <ul id="menu-corporate-navigation">
                                <li><a href="/catalog">Каталог</a></li>
                            <li><a class="promotion"  href="/catalog/promo">Промоции</a></li>
<li><a [routerLink]="'auth/about-us'">За нас</a></li>

</ul>

</nav>
<img src="../../../assets/stationaryJPG/green-call-icon-32x32.png">
   <strong>+359 885 111 503</strong>
<ng-container *ngIf="!cookieUser; else noUser">
    <a [routerLink]="'auth/login'" title="Моят профил">

        <span>
          <strong>  Влез / Регистрирай се	</strong>		</span>
    </a>

</ng-container>
<ng-template #noUser>

    <a [routerLink]="'auth/profile'" title="Моят профил">

        <span class="profile">
          <strong>  Моят профил	</strong>		</span>
    </a>

    <a [routerLink]="'auth/logout'" title="изход">

        <span class="logout">
          <strong>  Изход	</strong>		</span>
    </a>
</ng-template>


    </header>

