header{
  margin: auto;
padding-top: 1%;
border-bottom: 1px rgb(143, 143, 143) solid;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 1020;
position: relative
}
#logo{
  margin-left: 10%;
  display: block;
}
nav a{
  display: inline-flex;
  padding: 7px 25px;
text-decoration: none;
color:black
}
*{
  text-transform: uppercase;
  font-size: 25px;
}
li{
display: inline-block;
}
.float-right{
  margin-right: 25px;
}
.timer{
  margin-left: 35px
}
.cart img {
  height:25px
}
.active-link{
  background-color: rgba(6, 22, 163, 0.247);
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: visible;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  position:fixed;
  display: block;
  width:20%
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
background-color: #FFFFFF;

}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}