header{
  margin: auto;
padding-top: 1%;
border-bottom: 1px rgb(143, 143, 143) solid;
display: flex;
justify-content: space-between;
align-items: center;
}
#logo{
  margin-left: 10%;
  display: block;
}
nav a{
  display: inline-flex;
  padding: 7px 25px;
text-decoration: none;
color:black
}
*{
  text-transform: uppercase;
  font-size: 25px;
}
li{
display: inline-block;
}
.float-right{
  margin-right: 25px;
}
.timer{
  margin-left: 35px
}
.cart img {
  height:25px
}
.active-link{
  background-color: rgba(6, 22, 163, 0.247);
}