.lm-col-12{
    margin: auto;
    text-align: center;
    display: block;
  color: rgba(90, 88, 85, 0.575);
  max-width: 900px;
  font-family: serif;

}
.about-us-container{
background-color: rgba(127, 255, 212, 0.168);
}
strong, h2{
    font-weight: bold;
    color:black
}

