button{
    padding: 25px 25px 25px 25px;
    background-color:rgb(196, 191, 186);
    font-size:25px;
    border-radius: 25px;
}
button:hover{
    background-color: aquamarine;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: rgb(218, 219, 204);
    text-shadow: 3px 3px 5px black;
    font-weight: bold;
    text-align: center;
  }